{% include 'partisi/header.html' %}
{% include 'partisi/navbar.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->

	<div class="container-fluid" style="margin-top:50px">
		<!-- Breadcrumbs-->
		<!-- <ol class="breadcrumb shadow" style="background-color:#fff">
			<li class="breadcrumb-item active">Dashboard</li>
		</ol>
		<div class="flash-password" data-flashdata="<?= $this->session->flashdata('password'); ?>"></div>
		
		 /.container-fluid -->

		<div class="col">
			<img src="{{ url_for('static', filename='images/undip.png') }}" width="120px"
				style="display:block;margin-left:auto;margin-right:auto;padding-top:20px">
		</div>
		<div class="col pt-2 pb-2">
			<h4 style="text-align: center;padding-left:100px;padding-right:100px"> Aplikasi Analisis Sentimen pada
				Twitter Mengenai Pelayanan Ekspedisi SiCepat Menggunakan Metode <i>K-Nearest Neighbor</i>
			</h4>
		</div>

		<div class="col-xl pt-2 pl-5 pr-5">
			<div class="card shadow">
				<div class="card-header">
					<i class="fas fa-info-circle"></i>
					<span style="font-weight: bold;">Petunjuk Penggunaan</span>
				</div>
				<div class="card-body" style="text-align: justify; text-justify: inter-word; margin-left: -20px;">
					<ol>
						<li>Import dataset dengan menekan tombol <i>Import Data</i> pada menu
							<i>Dataset</i>.
						</li>
						<li>Lakukan text preprocessing dengan menekan tombol <i>Preprocessing</i> pada menu
							<i>Dataset</i>.
						</li>
						<li>Hasil text preprocessing berupa cleansing, case folding, tokenizing, filtering,
							dan stemming akan ditampilkan pada menu <i>Text Preprocessing</i>.</li>
						<li>Lakukan klasifikasi dokumen dengan memasukkan nilai K (jumlah tetangga terdekat), lalu tekan
							tombol <i>Klasifikasi</i> pada menu <i>Klasifikasi</i>.</li>
						<li>Hasil akurasi dari model klasifikasi akan ditampilkan pada menu <i>Akurasi</i>.
						</li>
						<li>Lakukan crawling data dengan memasukkan jumlah
							data yang akan diambil, lalu tekan tombol <i>Crawling</i> pada menu <i>Uji
								Analisis Sentimen</i>.</li>
						<li>Lakukan uji analisis sentimen dengan menekan tombol <i>Uji Analisis</i>. Kemudian
							masukkan nilai K
							(jumlah tetangga terdekat) pada <i>Form Uji Analisis Sentimen</i>, lalu tekan
							tombol <i>Submit</i>.</li>
						<li>Visualisasi hasil uji analisis sentimen akan ditampilkan pada menu
							<i>Visualisasi</i>.
						</li>

					</ol>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'partisi/sidebar.html' %}
{% include 'partisi/footer.html' %}