{% include 'partisi/header.html' %}
{% include 'partisi/navbar.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <div class=" container-fluid" style="padding-top: 65px">
        <!-- Breadcrumbs-->
        <div class="row ml-1 mr-1 shadow" style="background:white; border-radius: 4px;">
            <div class="col-sm-6">
                <h3 class="m-0 text-dark pt-2 ml-2"> Klasifikasi K-Nearest Neighbor</h3>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right mb-1" style="background: none;">
                    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Beranda</a></li>
                    <li class="breadcrumb-item active">Klasifikasi</li>
                </ol>
            </div><!-- /.col -->
        </div>
        <!-- DataTables Example -->
        <div class="card ml-1 mr-1 mt-2 mb-5 shadow">
            <div class="card-body">
                <!-- <?= form_open_multipart('admin/addInformasiBerkala'); ?> -->
                <form method="POST" action="/akurasi" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="k" class="col-sm-2 col-form-label">Masukkan nilai K : </label>
                        <div class="col-sm-1">
                            <input type="number" min="1" class="form-control" id="neighbors" name="neighbors" value=""
                                required>
                            <!-- <?= form_error('judul', '<small class="text-danger" >', '</small>'); ?> -->
                        </div>
                    </div>
                    <div class="form-group row justify-content-end">
                        <div class="col">
                            <button type="submit" class="btn btn-warning">Klasifikasi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /.content-wrapper -->

{% include 'partisi/sidebar.html' %}
{% include 'partisi/footer.html' %}