{% include 'partisi/header.html' %}
{% include 'partisi/navbar.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <div class=" container-fluid" style="padding-top: 65px">
        <!-- Breadcrumbs-->
        <div class="row ml-1 mr-1 shadow" style="background:white; border-radius: 4px;">
            <div class="col-sm-6">
                <h3 class="m-0 text-dark pt-2 ml-2"> Visualisasi Uji Analisis Sentimen</h3>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right mb-1" style="background: none;">
                    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Beranda</a></li>
                    <li class="breadcrumb-item active">Visualisasi</li>
                </ol>
            </div><!-- /.col -->
        </div>
        <!-- DataTables Example -->
        <div class="row card ml-1 mr-1 mt-2 shadow">
            <div class="col card-body">
                <div class="container mt-2 ">
                    <div class="row">
                        <div class="col-5 ml-5 card" style="width:10px;">
                            <div class="card-header text-md font-weight-bold text-dark text-uppercase"
                                style="display:block;margin-left:auto;margin-right:auto">Grafik Jumlah Sentimen Data Uji
                            </div>
                            <div class="card-body">
                                <canvas id="myChart"></canvas>
                                <script>
                                    var count_positif = {{ (count_positif) | safe}}
                                    var count_negatif = {{ (count_negatif) | safe}}
                                    var ctx = document.getElementById('myChart').getContext('2d');
                                    var myBarChart = new Chart(ctx, {
                                        type: 'bar',
                                        data: {
                                            labels: ["Stock"],
                                            datasets: [{
                                                label: 'Positif',
                                                backgroundColor: ['#F65058FF'],
                                                data: [count_positif],
                                            }, {
                                                label: 'Negatif',
                                                backgroundColor: '#FBDE44FF',
                                                data: [count_negatif],
                                            }]
                                        },
                                        options: {
                                            responsive: true,
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero: true
                                                    }
                                                }],
                                                xAxes: [{
                                                    ticks: {
                                                        display: false
                                                    }
                                                }],
                                            }
                                        }
                                    });


                                </script>
                            </div>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-5 card mb-3">
                            <div class="card-header text-md font-weight-bold text-dark text-uppercase"
                                style="display:block;margin-left:auto;margin-right:auto">Persentase Sentimen Data Uji
                            </div>
                            <div class="card-body">
                                <canvas id="myChart1"></canvas>
                                <script>
                                    var positif = {{ (positif) | safe}}
                                    var negatif = {{ (negatif) | safe}}
                                    var ctx = document.getElementById('myChart1').getContext('2d');
                                    var chart = new Chart(ctx, {
                                        // The type of chart we want to create
                                        type: 'pie',

                                        // The data for our dataset
                                        data: {
                                            labels: ['Positif', 'Negatif'],
                                            datasets: [{
                                                backgroundColor: ['#F65058FF', '#FBDE44FF', '#28334AFF'],
                                                data: [positif, negatif]
                                            }]
                                        },

                                        // Configuration options go here
                                        options: {
                                            responsive: true,
                                            maintainAspectRatio: false,
                                            tooltips: {
                                                callbacks: {
                                                    label: function (tooltipItem, data) {
                                                        return data['labels'][tooltipItem['index']] + ': ' + data['datasets'][0]['data'][tooltipItem['index']] + '%';
                                                    }
                                                }
                                            }
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
<!-- /.container-fluid -->

</div>
<!-- /.content-wrapper -->

{% include 'partisi/sidebar.html' %}
{% include 'partisi/footer.html' %}